<div class="banner_ads">
  <div class="small-container">
  <h2 class="title">Adverstising box</h2>
  <div class="row">
      <div class="col-2" >
          <img src="../images/img4.jpg" alt="">
      </div>
          <div class="col-2">
          <p></p>
          <h1></h1>
          <small> You  need to take a lot of care on where to live and how to rent a house during your trip </small>
          <p>Go with us to see the best house with only 50$ per night.</p>
          <a href="" class="btn">Let's go &#8594</a>
      </div>
  </div>
  </div>
  </div>