<footer id="special">
  <ul class="footer-nav">
    <li class="nav-item nav-item-extra">
      <h2 class="nav-title">About</h2>
      <ul class="nav-ul nav-ul-extra">
        <li>
          <a href="#">How Airbnb works</a>
        </li>
        <li>
          <a href="#">Newsroom</a>
        </li>
        <li>
          <a href="#">Airbnb Plus</a>
        </li>
        <li>
          <a href="#">Airbnb Luxe</a>
        </li>
        <li>
          <a href="#">Olympics</a>
        </li>
        <li>
          <a href="#">Airbnb for Work</a>
        </li>
        <li>
          <a href="#">Hotel Tonight</a>
        </li>
        <li>
          <a href="#">Careers</a>
        </li>
      </ul>
    </li>

    <li class="nav-item nav-item-extra">
      <h2 class="nav-title">Community</h2>
      <ul class="nav-ul nav-ul-extra">
        <li>
          <a href="#"> Diversity & Belonging</a>
        </li>
        <li>
          <a href="#">Accessibility</a>
        </li>
        <li>
          <a href="#">Airbnb Associates</a>
        </li>
        <li>
          <a href="#">Frontline Stays</a>
        </li>
        <li>
          <a href="#">Invite friends</a>
        </li>
      </ul>
    </li>
   





    <li class="nav-item nav-item-extra">
      <h2 class="nav-title">Technology</h2>
      <ul class="nav-ul nav-ul-extra">
        <li>
          <a href="#">Host your home</a>
        </li>
        <li>
          <a href="#">Responsible hosting</a>
        </li>
        <li>
          <a href="#">Community Centre</a>
        </li>
        <li>
          <a href="#">Host an Online Experience</a>
        </li>
        <li>
          <a href="#">
            Open Homes</a>
        </li>
        <li>
          <a href="#">Host an Experience</a>
        </li>
        <li>
          <a href="#">Resource Centre</a>
        </li>
      </ul>
    </li>
    
    <li class="nav-item">
      <h2 class="nav-title">Support</h2>
      <ul class="nav-ul">
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        <li>
          <a href="#">Terms of Use</a>
        </li>
        <li>
          <a href="#">Help Center</a>
        </li>
        <li>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
        </li>
      </ul>
    </li>
  </ul>
  
  <div class="legal">
    <p>&copy; Hoang Phuong Thuy. All rights reserved.<div class="social-links">
    </div></p>

  </div>
</footer>