<section id="product">
<div class="categories">
    <h2 class="title">Vacation rentals for every style</h2>  
    <div class="small-container"> 
     
    <div class="col-6"> 
        <img src="../images/house.jpg" alt="">
        <div class="content">
        <h4>Homes</h4>
        <p class="content">Comfortable with all essentials</p>
      </div>
    </div>
    <div class="col-6">
        <img src="../images/hotel.jpg" alt="">
        <div class="content">
        <h4>Hotels</h4>
          <p class="content">Stylish accomodation and amenities</p>
        </div>
    </div>
    <div class="col-6">
        <img src="../images/uniquestay.jpg" alt="">
        <div class="content">
        <h4>Unique Stay</h4>
          <p>Spaces that are more than just to sleep</p>
        </div>
    </div>
    </div>
    </section> 