<section id="testimonial_section">
   <div class="categories">
<h1 class="title">Feedback from our users</h1> 
</div>
</div>
<div class="testimonial">
    <div class="small-container"> 
    <div class="row">
        <div class="col-3">
            <i class="fas fa-quote-left"></i>
            <p>"As a traveler, I've had good experiences with the hosts & properties: and when I had a bait & switch situation, Airbnb immediately assisted me and I was refunded the next day...."</p>
            <div class="rating">Rate:
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <img src="../images/user1.jpg" alt="">
            <h3>Emma Green</h3>
        </div>
        <div class="col-3">
            <i class="fas fa-quote-left"></i>
            <p>"Excellent service with the Covid 19 situation. Quick reply to my query, my host on Gozo was just as helpful. Full refund within 24 hours...."</p>
            <div class="rating">Rate:
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <img src="../images/user2.jpeg" alt="">
            <h3>Evelyn Nguyen</h3>
        </div>
        <div class="col-3">
            <i class="fas fa-quote-left"></i>
            <p>"When we first stumbled upon this flat on AirBnB, it seemed almost too good to be true. There must be a catch!"</p>
            
            <div class="rating">Rate:
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <img src="../images/user3.jpeg" alt="">
            <h3>Clara Pham</h3>
        </div>
    </div>
    </div>
</div>
</section>