<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PTH's Airbnb</title>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/bulma.min.css">
  <link rel="stylesheet" href="/css/bulma-calendar.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<!--header-->
{{> header}}
<!--body-->
{{{body}}}
<!--Footer-->
{{>footer}}
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="/js/bulma-calendar.min.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>